NEXT_PUBLIC_SUPABASE_URL="https://hswpyxkbfqzmlicbultf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_ml5Y811Twgibow_-4Gubvw_A_r1_lz5"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_Vs70gAwsv2ctslifaO2ANQ_wtRWpjyS"
WECHAT_PAY_MCH_ID=""
WECHAT_PAY_APP_ID=""
WECHAT_PAY_API_V3_KEY=""
SMTP_HOST=smtp.163.com
SMTP_PORT=465

SMTP_USER=yuhdesign@163.com
SMTP_PASS=YUdabGt49yNfnHEx

ORDER_NOTIFICATION_FROM=yuhdesign@163.com
ORDER_NOTIFICATION_TO=yuhdesign@163.com
WEBHOOK_URL=""
NEXT_PUBLIC_WECHAT_PAYMENT_URL="https://payapp.wechatpay.cn/sjt/qr/AQFn5lrjZcwVpGXrhmlaEwGL"
NEXT_PUBLIC_ALIPAY_PAYMENT_URL="https://qr.alipay.com/fkx18625tfksnibeyzrg74d"
